* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.body {}

.header {
    border: 1px solid red;
    height: 90px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(225, 143, 126, 0.5);
    height: 90px;
}

.knopka {
    width: 103px;
}

.knopka-list {
    background-color: rgb(13, 96, 111);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}