* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
}

.title-h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(242, 120, 92, 1);
    font-family: "Red Hat Text";
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
}


/*----------header--------*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: linear-gradient(rgba(150, 29, 2, 0.7), rgba(255, 163, 126, 0.7)), url(../img/preview.jpg);
}

.logo {
    font-family: "Magra";
    color: white;
    font-size: 32px;
    border: none;
    margin-left: 120px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 527px;
    margin-left: -30px;
}

.nav-link {
    font-family: "Red Hat Text";
    font-size: 16px;
    color: white;
    line-height: 21px;
    cursor: pointer;
    transition: 0.4s all;
}

.nav-item:active {
    transform: scale(1.1);
}

.nav-link:hover {
    color: rgb(13, 96, 111);
}

.button1 {
    margin-right: 120px;
}

.button-login {
    background-color: rgb(13, 96, 111);
    padding: 10px 30px;
    border-radius: 5px;
    font-family: "Red Hat Text";
    font-size: 16px;
    line-height: 21px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.button-login:hover {
    background-color: #8b8a35;
    color: white;
}

.button-login:active {
    transform: scale(1.1)
}


/*-------------Main-----------*/


/*-------------Section-preview-------*/

.preview {
    position: relative;
    height: calc(765px - 90px);
    background: url(..//img/preview.jpg) 0 -90px/cover no-repeat;
}

.preview-list {
    width: 892px;
    height: 422px;
    position: absolute;
    left: 120px;
    top: 32px;
    color: white;
}

.preview-item-h1 {
    font-family: "Aleo";
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
}

.preview-item-p {
    margin: 32px 0 47px 0;
    font-family: "Aleo";
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.preview-item-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.preview-search {
    width: 560px;
    height: 95px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    font-size: 24px;
    font-family: "Aleo";
    font-weight: 400;
    font-style: italic;
    line-height: 29px;
    border: none;
}

input[type="search"] {
    background: transparent;
}

input::-webkit-input-placeholder {
    color: rgba(242, 120, 92, 1);
    text-indent: 13px;
}

.button {
    height: 59px;
    width: 228px;
    border-radius: 10px;
    background-color: rgba(13, 96, 111, 1);
    color: white;
    font-family: "Red Hat Text";
    font-size: 24px;
    border: none;
    line-height: 32px;
    margin-right: -7px;
    cursor: pointer;
    transition: 0.2s all;
}

.button:hover {
    background-color: #8b8a35;
    color: white;
}

.button:active {
    transform: scale(1.1)
}


/*-----------Section-Step---------*/

.steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -6px auto;
    height: 424px;
    width: 1177px;
}

.steps-list {
    display: flex;
    justify-content: space-between;
}

.steps-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.block-steps-item {
    width: 100px;
    height: 100px;
    background-color: rgba(242, 120, 92, 1);
    border-radius: 16px;
}

.block-wish {
    margin-left: -4px;
    background: rgba(242, 120, 92, 1) url(../img/velo.svg) center/52px 52px no-repeat;
}

.block-details {
    margin-left: 70px;
    background: rgba(242, 120, 92, 1) url(..//img/calc.svg) center/52px 52px no-repeat;
}

.block-recom {
    margin-left: 6px;
    background: rgba(242, 120, 92, 1) url(..//img/samolet.svg) center/60px 60px no-repeat;
}

.block-p {
    color: rgba(13, 96, 111, 1);
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    margin-top: 30px;
    line-height: 24px;
    letter-spacing: -0px;
}

.details-p {
    margin-left: 70px;
}


/*---------Destinations------*/

.destinations {
    width: 2520px;
    margin-left: -540px;
}

.destinations-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinations-foto {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.destinations-item {
    height: 800px;
    width: 800px;
    border-radius: 16px
}

.spain {
    background: url(../img/spain.jpg) center/cover no-repeat;
}

.japan {
    margin: 0 60px;
    background: url(../img/japan.jpg) center/cover no-repeat;
}

.usa {
    background: url(../img/usa.jpg) center/cover no-repeat;
}

.destinations-slide {
    display: flex;
    justify-content: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    margin-top: 24px;
}

.circle-center {
    margin: 24px 10px;
    background-color: rgba(242, 120, 92, 1);
}

.more {
    position: relative;
    margin-top: 15px;
    width: 228px;
    height: 59px;
    background-color: rgb(13, 96, 111);
    border-radius: 5px;
    transition: 0.2s all;
}

.strelka {
    position: absolute;
    top: 19px;
    left: 13px;
    right: 0;
    bottom: 0;
    margin-left: 20px;
    z-index: 1;
}

.button-more {
    position: absolute;
    top: 15px;
    left: 80px;
    background: none;
    color: white;
    border: none;
    font-family: "Red Hat Text";
    font-size: 24px;
    cursor: pointer;
    font-style: normal;
}

.more:hover {
    background-color: #8b8a35;
    color: white;
}

.more:active {
    transform: scale(1.1)
}


/*----------Stories--------*/

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 173px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/fon.jpg) 0 0/ cover no-repeat;
    height: 1270px;
}

.stories-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1201px;
    margin-top: -93px;
}

.stories-item {
    display: flex;
    justify-content: space-between;
}

.stories-img {
    width: 400px;
    height: 250px;
    border-radius: 16px;
    margin-right: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 3px rgb(50, 119, 132);
}

.stories-title-p {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin-bottom: 24px;
}

.stories-text-p {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.readMore {
    font-weight: 700;
    text-decoration: underline;
}

.more1 {
    position: relative;
    margin-top: 10px;
    width: 228px;
    height: 59px;
    background-color: rgb(13, 96, 111);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

.more1:hover {
    background-color: #8b8a35;
    color: white;
}

.more1:active {
    transform: scale(1.1)
}


/*--------footer-------*/

.footer-container {
    height: 61px;
    background: url(..//img/fon.jpg) bottom/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-list {
    width: 730px;
    height: 34px;
    display: flex;
    margin-right: 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-socseti {
    height: 30px;
    width: 30px;
}

.footer-item {
    transition: 0.2s all;
}

.footer-item :active {
    transform: scale(1.2)
}

.footer-text {
    font-family: "Red Hat Text";
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    line-height: 100%;
    color: white;
}

.footer-socseti {
    width: 141px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}